.about-main {
    height:100px;
    padding: 200px 8% 0;
    color: black;
  }
  
  .about-main h2 {
    font-size: 70px;
    font-weight: 500;
    line-height: 1.4;
  }
  
  .about-main p {
    font-weight: 200;
    font-size: 20px;
  }
  
  .about-img {
    width: 84%;
  }

  .link{
    font-weight: 200;
    font-size: 20px;
    color: rgb(78, 144, 201);
  }

  .logo{
    color: black;
    font-size: 80px;
    font-family: 'HanziPen SC',sans-serif;
  }
  
  .num{
    font-size: 80px;
    font-weight: 500;
    line-height: 1.4;
  }
  .font{
    font-weight: 200;
    font-size: 40px;
  }