.post-container {
  height:500px;
  margin: 170px auto;
  width: 50%;
  border: solid rgb(7, 7, 7);
  border-radius: 25px;
  text-align: center;
  background-color: #d4cfc9;
}
.title {
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
}


input[type="text_area"] {
  width: 95%;
  height: 250px;
}

input[type="submit"] {
  height: 40px;
  width: 200px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}

