.user-show-container{
    height:auto;
    margin: 100px auto;
    width: 50%;
    border: solid #d4cfc9;
    border-radius: 25px;
    text-align: center;
    background-color: #d4cfc9;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 50px;
}

.user-image{
    border-radius: 50%;
    margin-top: 5%;
    margin-left:5%;
    margin-right:5%;
    box-shadow: 0 2px 6px #a5b4bd;
}