.user-container{
    height:460px;
    margin: 170px auto;
    width: 50%;
    border: solid #d4cfc9;
    border-radius: 25px;
    text-align: center;
    background-color: #d4cfc9;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 50px;
}